<div class="container">
    {{!-- <div class="col-md-6"> --}}
{{!-- <div class="p-3 mb-2 bg-light text-dark"> --}}
{{!-- <div class="box">
   

    <h2 class="text-center">Change password</h2>
             <form action="/edit-password" method="post" enctype="multipart/form-data" class="form">

                 <label for=""></label>
                 <input type="password" name="name" class="form_input" id="oldPassword" placeholder="Enter old password">
                 <span id="errOld" style="color:crimson"></span>
                 <br><br>
                 
                 
                <label for=""></label>
                 <input type="password" name="newPassword" class="form_input" id="newPassword" placeholder="Enter new password">
                 <span id="errNew" style="color:crimson"></span>
<br><br>

                 <label for=""></label>
                 <input type="password" name="newPassword1" class="form_input" id="newPassword1" placeholder="Re-enter password"> 
                  <span id="errNew1" style="color:crimson"></span>
<br><br>

                  <button id="Submit" class="btn btn-primary mt-3">Submit</button>

                 </form>
</div> --}}


   



<style>
  .box{
       
       margin-right: 100px;
   }
   .form{
       padding: 150px;
       padding-top: 10px;
       padding-bottom: 10px;
   }
</style>
          {{! validation }}
          <script>

            
             const oldpassword=document.getElementById("oldPassword");
             const newpassword=document.getElementById("newPassword");
             const newpassword1=document.getElementById("newPassword1");
              const form=document.getElementById("form");
              
                const errold=document.getElementById("errOld")
                const errnew=document.getElementById("errNew")
                const errnew1=document.getElementById("errNew1")

            form.addEventListener('submit',(e)=>{ 
              
            
            let message1=[] 
            let message2=[] 
            let message3=[] 
           

           

            if(oldpassword.value===''||oldpassword.value==null){
               message1.push('Please enter your currrent password') 
               } 


            if(newpassword.value===''||newpassword.value==null){
               message2.push('Please enter your currrent password') 
               } else if(newpassword.value.length<4){
             message2.push('password must be atleast 4 character') }


            if(newpassword.value!=newpassword1.value){
               message3.push('Re-entered Password not match') 
               } 


                    


            if(message1.length>0){
            e.preventDefault();
            errold.innerText=message1.join(' ') 
            } 
            })

            if(message2.length>0){
            e.preventDefault();
            errnew.innerText=message2.join(' ') 
            } 
       

            if(message3.length>0){
            e.preventDefault();
           errnew1.innerText=message3.join(' ') 
            } 
            

          </script>
          {{! validation }}
        </div>
      </div>
      <!-- Footer -->

    </body>
  </div>
</div>